<% var data = {
  title: "Заголовок | Проект",
  author: "JslBy"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>
<%= _.template(require('./../includes/block5.html'))(data) %>
<%= _.template(require('./../includes/block6.html'))(data) %>
<%= _.template(require('./../includes/block7.html'))(data) %>
<%= _.template(require('./../includes/block8.html'))(data) %>
<%= _.template(require('./../includes/block25.html'))(data) %>
<%= _.template(require('./../includes/block9.html'))(data) %>
<%= _.template(require('./../includes/block10.html'))(data) %>
<%= _.template(require('./../includes/block11.html'))(data) %>
<%= _.template(require('./../includes/block26.html'))(data) %>
<%= _.template(require('./../includes/block12.html'))(data) %>
<%= _.template(require('./../includes/block13.html'))(data) %>
<%= _.template(require('./../includes/block14.html'))(data) %>
<%= _.template(require('./../includes/block15.html'))(data) %>
<%= _.template(require('./../includes/block16.html'))(data) %>
<%= _.template(require('./../includes/block17.html'))(data) %>
<%= _.template(require('./../includes/block18.html'))(data) %>
<%= _.template(require('./../includes/block19.html'))(data) %>
<%= _.template(require('./../includes/block20.html'))(data) %>
<%= _.template(require('./../includes/block21.html'))(data) %>
<%= _.template(require('./../includes/block22.html'))(data) %>
<%= _.template(require('./../includes/block23.html'))(data) %>
<%= _.template(require('./../includes/block24.html'))(data) %>
<%= _.template(require('./../includes/footer.html'))(data) %>
