@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400&subset=cyrillic');
@import "~bootstrap/scss/bootstrap";
@import "~slick-carousel/slick/slick.css";

.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-1-5 {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-1-5 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-1-5 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-1-5 {
    width: 20%;
    float: left;
  }
}

@include media-breakpoint-up(xs) {}
@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(xl) {}

$purpleColor: rgba(101, 49, 101, 1);
$darkColor: #030303;
$grayColor: #424242;

@mixin purpleBtn{
  min-width: 150px;
  height: 50px;
  padding: 0 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  background: $purpleColor;
  line-height: 50px;
  border: 1px solid transparent;
  &:hover{
    border-color: $purpleColor;
    background: transparent;
    color: $purpleColor;
    text-decoration: none;
  }
}

@mixin purpleBtnIn{
  @include purpleBtn;
  color: $purpleColor;
  text-align: center;
  background: transparent;
  line-height: 50px;
  border: 1px solid $purpleColor;
  &:hover{
    border-color: $purpleColor;
    background: $purpleColor;
    color: #fff;
    text-decoration: none;
  }
}

*{
  outline: none !important;
  box-shadow: none !important;
}

body {
  font-family: 'Roboto', sans-serif;;
  font-weight: 300;
  section.block10{
    background: url(img/block10-bg.jpg) no-repeat center center / cover;
    padding-top: 80px;
    padding-bottom: 60px;
    .title{
      font-size: 36px;
      color: #fff;
      text-align: center;
    }
    .subtitle{
      font-size: 18px;
      padding: 0 100px;
      margin-bottom: 40px;
      margin-top: 30px;
      @include media-breakpoint-down(sm) {
        padding: 0 10px;
      }
      color: #fff;
      text-align: center;
    }
    .inner{
      background: rgba(255,255,255,0.4);
      padding: 50px 40px;
      text-align: center;
      height: 100%;
      img{
        margin-bottom: 50px;
      }
      .name{
        font-size: 28px;
        color: #fff;
        margin-bottom: 35px;
      }
      .text{
        font-size: 14px;
        color: #fff;
      }
      .btn{
        @include purpleBtn;
        max-width: 100%;
        @include media-breakpoint-down(md) {
          font-size: 12px;
        }
      }
      ul{
        margin-top: 40px;
        padding: 0;
        li{
          list-style: none;
          padding: 0;
          margin-bottom: 30px;
          color: #fff;
          display: block;
          text-align: center;
        }
      }
    }
  }
  section.block9{
    text-align: center;
    padding-bottom: 170px;
    padding-top: 80px;
    @include media-breakpoint-down(sm) {
      .col-md-4{
        margin-bottom: 50px;
      }
    }
    .title{
      font-size: 36px;
      color: $darkColor;
      margin-bottom: 100px;
    }
    img{
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin-bottom: 40px;
    }
    .btn{
      @include purpleBtnIn;
      margin-top: 40px;
    }
    .name{
      font-size: 18px;
      color: $darkColor;
    }
    .sub{
      font-size: 14px;
      color: $darkColor;
    }
  }
  section.block6{
    .slick{
      .item{
        position: relative;
      }
      .inner{
        position: absolute;
        width: 250px;
        padding: 30px;
        left: 80px;
        top: 0;
        @include media-breakpoint-down(sm) {
          display: none;
        }
        background: rgba(255,255,255,0.7);
        z-index: 3;
        text-align: center;
        color: $darkColor;
        .border{
          border: none !important;
          padding-bottom: 5px;
          border-bottom: 1px solid $darkColor!important;
        }
        .bottom{
          margin-top: 65px;
          padding-bottom: 30px;
          text-transform: uppercase;

        }
      }
      .slick-arrow{
        position: absolute;
        top: 50%;
        margin-top: -22px;
        width: 20px;
        height: 43px;
        display: block;
        border: none;
        opacity: 0.7;
        background: url(img/block6-arrow.png) no-repeat left top;
        text-indent: -999999px;
        transition: all .15s;
        z-index: 5;
        cursor: pointer;
        &:hover{
          transform: scale(1.1);
        }
        &.slick-prev{
          left: 20px;
        }
        &.slick-next{
          right: 20px;
          background-position: right top
        }
      }
    }
  }
  section.block5{
    background: url(uploads/block5.jpg) no-repeat center center / cover;
    padding-top: 350px;
    border-top: 1px solid #fff;
    text-align: center;
    padding-bottom: 140px;
    @include media-breakpoint-down(sm) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .title{
      font-size: 48px;
      color: #fff;
      margin-bottom: 30px;
      @include media-breakpoint-down(sm) {
        font-size: 28px;
      }
    }
    p{
      padding-bottom: 0;
      margin-bottom: 0;
      font-size: 16px;
      color: #fff;
      padding: 0 200px;
      @include media-breakpoint-down(sm) {
        padding: 0 10px;
      }
    }
  }
  section.block4{
    background: #e3e2e0;
    padding: 50px 0;
    .title{
      color: $grayColor;
      font-size: 52px;
      margin-bottom: 40px;
      text-align: center;
      padding-bottom: 5px;
      position: relative;
      text-transform: uppercase;
      &:after{
        height: 5px;
        background: #424242;
        width: 90px;
        position: absolute;
        content: '';
        left: 50%;
        margin-left: -45px;
        bottom: 0;
      }
    }
    .item{
      position: relative;
      color: $grayColor;
      font-size: 23px;
      padding: 30px 45px;
      transition: all 0.15s;
      cursor: pointer;
      text-transform: uppercase;
      &:hover{
        background: #fff;
      }
      &:before{
        content: '';
        width: 10px;
        height: 25px;
        background: $purpleColor;
        display: block;
        position: absolute;
        left: 30px;
        top: 36px;
      }
    }
  }
  section.block3{
    position: relative;
    background: #c9bccc;
    &:after{
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 0;
      bottom: 0;
      background: #fff;
      right: 0;
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
    .text{
      padding-top: 125px;
      padding-bottom: 100px;
      padding-left: 125px;
      padding-right: 100px;
      @include media-breakpoint-down(sm) {
        padding: 20px;
      }
    }
    padding: 50px 0;
    .col-md-6{
      z-index: 2;
    }
    .header{
      font-size: 27px;
      color: $darkColor;
      margin-bottom: 80px;
      text-transform: uppercase;
    }
    p{
      color: $darkColor;
      font-size: 21px;
    }
    a{
      font-size: 21px;
      text-decoration: underline;
      color: $darkColor;
      margin-top: 60px;
      display: block;
    }
    .map{
      min-height: 300px;
      background: #fff url(img/map.png) no-repeat center center;
    }
    .btn{
      @include purpleBtn;
      text-transform: uppercase;
      padding-left: 60px;
      background: $purpleColor url(img/icon-play.png) no-repeat 7px center;
      transition: all 0.15s;
      &:hover{
        background: $purpleColor url(img/icon-play.png) no-repeat 7px center;
        transform: scale(1.1);
        color: #fff;
      }
    }
  }
  section.block2{
    .col-lg-4{
      @include media-breakpoint-down(xs) {
        margin-bottom: 50px;
      }
    }
    padding-top: 80px;
    padding-bottom: 60px;
    background: $purpleColor;
    text-align: center;
    img{
      max-width: 100%;
    }
    p{
      color: #fff;
      margin-bottom: 0;
      padding-bottom: 0;
      margin-top: 20px;
      font-size: 21px;
      text-transform: uppercase;
    }
  }
  section.block1{
    background: #eeeeee;
    .btn{
      @include purpleBtn;
      margin-top: 50px;
    }
    padding-top: 50px;
    @include media-breakpoint-down(sm) {
      padding-bottom: 50px;
    }
    .title{
      font-size: 90px;
      text-transform: uppercase;
      font-weight: 100;
      line-height: 110px;
      @include media-breakpoint-down(sm) {
        line-height: 60px;
      }
      color: $purpleColor;
      text-transform: uppercase;
      @include media-breakpoint-down(lg) {
        font-size: 40px;
      }

    }
    .col-lg-8{
      @include media-breakpoint-down(sm) {
        text-align: center;
        justify-content: center;
      }
    }
    img{
      width: 100%;
      align-self: flex-end;
    }
  }
  section.footer{
    padding-top: 110px;
    padding-bottom: 110px;
    background: $purpleColor;
    @include media-breakpoint-down(md) {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .header{
      text-transform: uppercase;
      font-size: 22px;
      color: #fff;
      margin-bottom: 20px;
      @include media-breakpoint-down(sm) {
        margin-top: 50px;
      }
    }
    .list-unstyled{
      margin-bottom: 0;
      li{
        color: #fff;
        font-size: 13px;
        margin-bottom: 5px;

      }
    }
    .social{
      margin-top: 10px;
      li{
        margin-right: 2px;
        a{
          width: 30px;
          height: 30px;
          display: block;
          text-decoration: none;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
        }
        &:nth-child(1){
          a{
            background-image: url(img/icon-linkedin.png);
          }
        }
        &:nth-child(2){
          a{
            background-image: url(img/icon-twitter.png);
          }
        }
        &:nth-child(3){
          a{
            background-image: url(img/icon-facebook.png);
          }
        }
        &:nth-child(4){
          a{
            background-image: url(img/icon-youtube.png);
          }
        }
      }
    }
    p{
      color: #fff;
      font-size: 13px;
      margin-bottom: 15px;
      padding-bottom: 0;
      &:last-child{
        margin-bottom: 0;
      }
    }
    .list-dotted{
      padding-left: 0;
      margin-left: 0;
      list-style: none;
      li{
        line-height: 22px;
        a{
          color: #fff;
          font-size: 13px;
          text-decoration: none;
          &:before{
            content: '•';
            margin-right: 8px;
            font-size: 12px;
            position: relative;
            top: -1px;
            color: #fff;
          }
        }
      }
    }
    .logos{
      @include media-breakpoint-down(md) {
        margin-top: 50px;
      }
      img{
        display: table;
        max-width: 200px;
        margin: 0 auto;
      }
      p{
        margin-top: 20px;
        text-align: center;
        margin-bottom: 20px;
        font-size: 11px;
      }
    }
    form{
      &.form-subscribe{
        @include media-breakpoint-down(sm) {
          display: block;
        }
        .form-group{
          display: inline-block;
          margin-bottom: 0;
          input{
          }
        }
        button{
          margin-left: 5px;
        }
      }
      margin-top: 20px;
      &.message{
        margin-top: 0;
        @include media-breakpoint-down(md) {
          margin-top: 50px;
        }
      }
      &.message{
        .form-group{
          margin-right: 5px;
        }
      }
      .form-group{
        margin-bottom: 5px;
      }
      input,
      textarea{
        border: none;
        font-size: 14px;
      }
      button.btn-icon{
        border: none;
        background: transparent;
        color: #fff;
        background: url(img/icon-telegram.png) no-repeat center center;
        width: 36px;
        height: 36px;
      }
      button.btn-secondary{
        background: #fff;
        font-size: 14px;
        color: $purpleColor;
        text-transform: uppercase;
        float: right;
        margin-right: 5px;
        border: 1px solid transparent;
        &:hover{
          border: 1px solid #fff;
          color: #fff;
          background: transparent;
        }
      }
    }
  }
  section.header{
    padding-top: 50px;
    padding-bottom: 50px;
    background: $purpleColor;
    @include media-breakpoint-down(md) {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .logo{
      display: inline-block;
      max-width: 100%;
      width: 175px;
    }
    ul.list-inline{
      display: inline-block;
      float: right;
      height: 45px;
      padding-bottom: 0;
      margin-bottom: 0;
      li{
        background-position: left center;
        background-repeat: no-repeat;
        padding-left: 40px;
        &:nth-child(1){
          margin-right: 40px;
          background-image: url(img/icon-phone.png);
        }
        &:nth-child(2){
          padding-left: 35px;
          background-image: url(img/icon-geo.png);
        }
        &
        a{
          line-height: 45px;
          color: #fff;
          text-decoration: none;
          font-size: 16px;
          &.btn{
            padding: 0 10px;
            border-radius: 0;
            border: 1px solid #fff;
            transition: all .3s;
            &:hover{
              border-color: $purpleColor;
              background: #fff;
              color: $purpleColor;
            }
          }
        }
      }
    }
    .navbar{
      padding: 0;
      margin-top: 20px;
      .navbar-toggler{
        margin-left: auto;
      }
      @include media-breakpoint-down(md) {
        margin-top: 0;
      }
      .navbar-nav{
        .dropdown-menu{
          border-radius: 0;
          left: 11px;
          border-color: #fff;
          background: $purpleColor;

          a{
            color: #fff;
            transition: all .15s;
            &:before{
              content: '• ';
              transition: all .15s;
              font-size: 14px;
              position: relative;
              top: 0px;
              color: #fff;
              @include media-breakpoint-down(md) {
                display: none;
              }
            }
            &:hover{
              color: $darkColor;
              &:before{
                color: $darkColor;
              }
            }
          }
        }
        .nav-item{
          margin-left: 40px;
          @include media-breakpoint-down(md) {
            margin-left: 0;
          }
          .nav-link{
            font-size: 16px;
            &.dropdown-toggle{
              &:after{
                border: none;
              }
            }

            color: #fff;
            text-transform: uppercase;
            margin-right: 15px;
            @include media-breakpoint-down(md) {
              text-align: center;
            }

            &:before{
              content: '• ';
              font-size: 14px;
              position: relative;
              top: 0px;
              color: #fff;
              @include media-breakpoint-down(md) {
                display: none;
              }
            }
            &:after {
              content: '';
              display: block;
              width: 0;
              height: 1px;
              background: #fff;
              transition: width .3s;
            }
            &:hover:after{
              width: 100%;
            }
          }
          &:first-child{
            margin-left: 0;
            .nav-link{
              padding-left: 0;
            }
          }
        }
      }
    }
  }
}
